/*订单状态*/
.state_box {
    height: 43px;
    position: relative
}

.state {
    float: left;
    width: 50%;
    line-height: 43px;
    color: #65646b;
    font-size: 14px;
    text-align: center
}

.blue_block {
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #fe3360;
}

/*订单信息*/
.move_box {
    width: 100%;
    overflow: hidden
}

.move {
    width: 500%;
    position: relative;
    clear: both;
    left: 0
}

.order_box {
    float: left;
    width: 20%;
}

.order {
    height: 133px;
    position: relative;
    background-color: #fff;
    margin-bottom: 14px;
}

.order_title {
    line-height: 40px;
    color: #191919;
    padding-left: 4%;
    font-size: 16px;
}

.order_text {
    width: 92%;
    margin-left: 4%;
    position: relative;
    height: 53px;
    padding-top: 5px;
    box-sizing: border-box
}

.order_text h1,
.order_text h2 {
    line-height: 20px;
    color: #191919;
    font-size: 14px;
}

.order_text p {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 53px;
    color: #65646b;
    font-size: 16px;
}

.cancel {
    width: 65px;
    height: 25px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    float: right;
    margin-top: 6px;
    margin-right: 4%;
    color: #65646b;
    border:#ff7f00 1px solid; color:#ff7f00;
}

/*底部导航*/
.nav_box {
    width: 100%;
    height: 51px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

.nav_index,
.nav_order,
.nav_my {
    width: 33.3%;
    float: left;
}

.nav_box img {
    width: 18px;
    height: auto;
    position: relative;
    left: 50%;
    margin-left: -9px;
    margin-top: 8px;
}

.nav_box h1 {
    font-size: 12px;
    text-align: center;
    color: #65646b;
    line-height: 25px;
}

.nav_box .current_nav {
    color: #fe3360;
}

/* 优惠券 */


.coupon {
    height: 133px;
    width: 95%;
    margin: 4px auto;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(to right, #f37b1dc4  75%, #fff 75%);
    margin-bottom: 14px;
    box-shadow: 7px 8px 5px 0px #e3dddd;
}

.coupon_title {
    line-height: 40px;
    color: #fff;
    padding-left: 4%;
    font-size: 16px;
}

.coupon_text {
    width: 92%;
    margin-left: 4%;
    position: relative;
    height: 53px;
    padding-top: 5px;
    box-sizing: border-box
}
.coupon .btn{
    min-width: 70px;
    float: right;
    margin-right: 4%;


}

.coupon_text h1,
.coupon_text h2 {
    line-height: 20px;
    color: #e70023;
    font-size: 14px;
}

.coupon_text p {
    position: absolute;
    top: 0;
    right: 0;
    /* line-height: 53px; */
    color: #65646b;
    font-size: 26px;
    color: #fe3360;
}
.coupon .coupon_if{
    float: left;
    margin: 10px 0px 0px 4%;
    font-size: xx-small;
    color: #020202;
}



.project{
    width:95%;
    margin:0 auto;
    padding:10px 0px;
    overflow: hidden;
}

.project .item{
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom: 1px solid #e8e9ea;
}

.project .item .thumb{
    width:30%;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
    margin-right:10px;
}

.project .item .thumb img{
    width:100%;
    height: 100%;
}

.project .item .info{
    width:65%;
}

.project .item .info .title{
    font-size:1.1em;
    font-weight: 500;
    margin-bottom:5px;
}

.project .taglist{
    display: flex;
    width:100%;
    margin-bottom:5px;
}

.project .taglist .tag{
    color: rgb(14, 34, 133);
    background-color: rgb(235, 236, 243);
    border-color: rgb(155, 162, 195);
    border: 1px solid #a0cfff;
    border-radius: 50px;
    font-size:.5em;
    margin-right: 5px;
    padding:0px 5px;
    font-weight: 450;
}

.project .limit{
    display: flex;
    width:100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom:5px;
}

.project .limit .price{
    color:#ef022e;
    font-size:1.1em;
    font-weight: 500;
}

.project .limit .max{
    color:#3c3e41;
}

.project .info .time{
    color:#3c3e41;
}